scrapes:
  all-candles:
    pages:
      start:
        url: https://www.bathandbodyworks.com/c/home-fragrance/3-wick-candles
        type: CandleSearch
      candle-search:
        type: CandleSearch
        crawlers:
          - CandleSearchProductTiles # maybe leave off prefix?
          - CandleSearchPagination
        scrapers:
          - CandleSearchProductTiles # maybe leave off prefix?
      candle-product:
        # could include a 'pattern' prop with regex to match URLs. then page type would not have to be programmed, just configured
        type: CandleDetails
        crawlers: []
        scrapers:
          - CandleProductDetails # maybe leave off prefix?